<div class="backdrop">
  <header class="header">
    <nav class="header-nav group">
      <h1 class="header-logo header-block"><a href="#">YourReads</a></h1>
      <div class="header-content group">
        <div class="header-user-info group">
          <% if signed_in? %>
            Welcome, <%= current_user.email %>!
            <%= button_to "Sign Out", session_url, method: :delete %>
          <% else %>
            <%= link_to "Sign In", new_session_url %>
            <%= link_to "Sign Up", new_user_url %>
          <% end %>
        </div>
        <!-- <div class="group">
          <form>
            <input type="text" style="border: 1px solid;" placeholder="Search">
          </form>
        </div> -->
        <ul class="header-list group">
          <li><a href="#">Home</a></li>
          <li><a href="#/shelves">My Books</a></li>
          <!-- <li><a href="#">Friends</a></li> -->
          <li><a href="#/search">Search</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div id="main" class="content group"></div>
  <div class="footer">
    <div class="footer-nav group">
      <div class="copy-right">&copy; 2015 YourReads. All rights reserved.</div>
      <ul class="nav-list group">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy</a></li>
      </ul>
    </div>
  </div>
</div>
<script>$(YourReads.initialize);</script>
