<div class="book-cover-primary">
  <img class="cover-image-primary" src="assets/cover.jpg">
</div>
<h1><%= book.get('title') %></h1>
Average Rating: <%= book.get('average_rating') %>
<div id="reviews-index">
</div>
<!-- <div id="review-form">
</div> -->
<div id="current-user-review"></div>
<br>
<a href="#">Books Index</a>
