
<form class="signin-form">
<h2>Sign In</h2><br><br>

  <label>
    Email
    <input type="email" name="user[email]">
  </label>

  <br>

  <label>
    Password
    <input type="password" name="user[password]">
  </label>

  <br>

  <button>Sign In</button>
</form>
<!-- <button class="deomo-signin">Demo Signin</button> -->
<form class="demo-login-form">
  <input type="hidden" name="user[email]" value="ripe@gmail.com">
  <input type="hidden" name="user[password]" value="password">
  <button>Demo Signin</button>
</form>
