<h2><%= user.escape("email") %></h2>

<p>This is <%= user.escape("email") %>'s profile page.</p>
<!-- <p><a href="#">Add Friend</a></p> -->
<!-- <form> -->
<button class="add-friend">Add Friend</button>
<!-- </form> -->
<p><a href="#">Back</a></p>
