<h2>Reviews</h2>
<ul class="review-list">
<% reviews.each(function (review){ %>
  <li class="review-list-item group">
    <a href="#" class="user-thumb"><img src="<%= review.user().get('image_url') %>"></a>
    <div class="review-content">
      <div class="review-rating"><a href="#" class="reviewer-email"><%= review.user().get('email') %></a>
      rated it <%= review.get('rating') %> stars</div>
      <p><%= review.get('content') %></p>
    </div>
  </li>
<% }); %>
</ul>
