<h3>Book Shelves</h3>
<ul>
  <% shelves.each(function (shelf) { %>
    <li><a href="#/shelves/<%= shelf.get('id') %>">
      <%= shelf.escape('name') %> (<%= shelf.get('books_count') %>)
    </a></li>
  <% }); %>
</ul>
<h3>Books</h3>
<div class="shelf-detail">
  All My Books
  <ul>
    <% books.each(function (book) { %>
      <li><%= book.escape('title') %></li>
    <% }); %>
  </ul>
</div>
