<h3>Book Shelves</h3>
<ul>
  <li><a href="#/shelves/all">All (<%= shelves.shelvings().length %>)</a></li>
  <% shelves.each(function (shelf) { %>
    <li><a href="#/shelves/<%= shelf.get('id') %>">
      <%= shelf.escape('name') %> (<%= shelf.shelvings().length %>)
    </a></li>
  <% }); %>
</ul>
<h3>Books</h3>
<div class="shelf-detail">
</div>
