<a href="/session/new">Sign In</a>

<form action="<%= users_url %>" method="post" class="signup-form">
<h2>Sign Up</h2>
<br>
  <%= auth_token_input %>
  <label for="email">
    Email
  </label>
    <input id="email" type="text" name="user[email]" value="">

  <label for="password">
    Password
  </label>
    <input id="password" type="password" name="user[password]" value="">
    <br>
    <button>Sign Up</button>

  <!-- <input type="submit" value="Sign Up"> -->
</form>
